<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Bootstrap ICON -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <title>Livraria Andrella</title>
</head>
<body>

  <header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-primary shadow border-bottom border-dark border-2 border-opacity-10">
        <div class="container">
            <i class="bi bi-book text-white fs-3 fw-bold m-3"></i>
          <a class="navbar-brand fs-4 fw-bold text-white" href="#">Livraria Andrella</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="#">Home - Produtos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Quem somos</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Contatos
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">@livrariaandrella</a></li>
                  <li><a class="dropdown-item" href="#">(15) 998563721</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-warning" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </header>

  <main>

      <h1>Livraria Andrella</h1>

    <div class="imagens">
      <img src="img/img1.jpg">
      <img src="img/dona.jpg">
      <img src="img/img2.jpg">
    </div>

    <div class="text">
      <p>Era uma vez uma jovem chamada Sofia, uma apaixonada por livros desde a infância. Aos 25 anos, ela decidiu realizar o seu sonho e abrir a sua própria livraria, batizada de "Livraria Andrella". Sofia tinha uma visão clara de que sua livraria seria um lugar especial, onde as palavras ganhariam vida e as histórias se tornariam realidade. Sua missão era inspirar as pessoas a descobrirem a magia dos livros e a explorarem novos mundos por meio da leitura. </p>
    </div>

      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              MISSÃO
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>A missão da Livraria Andrella é promover a paixão pela leitura e enriquecer a vida das pessoas por meio de livros. Queremos ser um refúgio para os amantes de literatura, um lugar onde as histórias se tornam portas para a imaginação, a aprendizagem e o crescimento pessoal.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              VISÃO
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Nossa visão é criar um espaço onde pessoas de todas as idades possam encontrar livros que toquem seus corações e mentes. Queremos ser uma comunidade de leitores que compartilham conhecimento, emoções e experiências por meio da literatura. Almejamos ser um farol cultural, promovendo a diversidade literária e contribuindo para a formação de leitores críticos e apaixonados.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              VALORES
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                A Livraria Andrella se baseia em valores sólidos:<br> <strong>Paixão pela Literatura:</strong> A Livraria Andrella valoriza a paixão pela literatura e acredita no poder transformador dos livros. <br> <strong>Comunidade: </strong>A transparência e a integridade estão no centro de tudo o que fazem.<br> <strong>Comunidade: </strong>Queremos construir e fortalecer a comunidade de leitores, promovendo eventos, clubes do livro e discussões literárias.<br> <strong>Sustentabilidade: </strong>Cada cliente é um amigo, e eles tratam todos com carinho e respeito.<br> <strong>Sustentabilidade:</strong>Comprometemo-nos a ser responsáveis com o meio ambiente, promovendo práticas sustentáveis em nossos processos comerciais. 
            </div>
          </div>
        </div>
      </div>

      <p>A Livraria Andrella tornou-se um local icônico em sua comunidade. Sofia e sua equipe dedicaram-se a proporcionar experiências únicas de leitura, desde lançamentos de livros emocionantes até oficinas de escrita criativa. Sua livraria era um lugar onde sonhos se concretizavam, onde a magia dos livros era celebrada e onde a imaginação era livre para voar. </p>

      <div class="imagens">
        <img src="img/img3.jpg">
        <img src="img/cliente.jpg">
        <img src="img/img4.jpg">
      </div>

    
  </main>

  <footer class="text-white text-center py-4">
    <p>© 2023 Livraria Andrella. Todos os direitos reservados.</p>
  </footer>

  </body>
</html>